* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(235, 235, 235);
}

.app{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction:column-reverse;
}
